/* *{
    background-color: rgb(107, 242, 10);
} */

.mi-navbar {
    background-color: #c97b14; /* Puedes reemplazar con cualquier color HEX, RGB o nombre de color */
  }

body{
    background-color: aquamarine;
}
