{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container mt-4">
    <h2 class="text-center">Lista de Usuarios</h2>
    <div class="row mb-3">
        <div class="col-md-12">
            <img src="{% static 'images/turismo.jpg' %}" class="img-fluid rounded" alt="Lugares Turísticos">
        </div>
    </div>
    <a href="{% url 'crear_usuario' %}" class="btn btn-primary mb-3">Crear Usuario</a>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombres }}</td>
                <td>{{ usuario.nombre_usuario }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>

                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
